body {
font-family: Verdana, sans-serif;
margin: 0;
background-color: #dfffe0; /*was missing a semicolon */
color: #083b0a;
}
.topbar {
position: fixed;
top: 0;/missing a :*/
width: 100%;
background-color: #2e8b57;
color: white; /*the coluor was spelled wrong */
text-align: center;
padding: 20px 0;
z-index: 5;
}
.panels {
width: 70%;
margin: 120px auto;
background-color: white;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0,0,0,0.3);
padding: 30px; /*padding not pudding*/
position: relative;
}
#pond {

position: relative;
background-color:#a5f0a0;/*missing  # for thenhex colour*/
padding: 25px;/*px not pz*/
border-radius: 8px;
margin-top: 25px;
}
#tadpole {
position: absolute;/*absolute not absolutely */
top: 10px;
left: 15px;
background-color: #6dcf78;
color: white;
padding: 10px;
border-radius: 6px;
} /*missing a }*/

#fun-fact {
background-color: #c7f7b5;
border-left: 6px solid #2e8b57;
padding: 12px;
margin-top: 20px;
}
#footer{ /*added a open{ */
text-align: center;
padding: 20px;
background-color: #2e8b57;
color: white;
margin-top: 60px;
}
